.container {
  width: 50vw;
}

.image {
  border-radius: 50vw;
}

body {
  text-align: center;
  width: 50vw;
  margin: auto;
  padding: 10px;
}

p {
  text-align: start;
}

p::first-line {
  font-weight: bold;
}

