body {
  border: 0px solid;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 0px;
}

.nav-list {
  display: block;
  padding: 0px;
  margin: 0px;
}

.list-item{
  width: 200px;
  height: 60px;
  padding: 0px;
  text-align: center;
  margin: 0px;
  display: block;
  float: left;
  background-color: var(--green);
}

.list-item:hover {
  background-color: var(--orange);
  color: var(--black);
}

.list-item > a:hover {
  color: var(--black);
}

.nav-link {
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  display: block;
  color: var(--white);
}
