.form {
    border: 1px solid;
    border-radius: 10px;
    width: 400px;
    border-color: var(--gray3);
    text-align: left;
    padding: 10px;
}

.form-element {
    text-align: center;
    display: inline-block;
}

.btn {
    padding-left: 20px;
}

.btn-primary {
    width: 180px;
    height: 40px;
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 3px;
    padding: 5px 20px;
    color: var(--white);
}

.btn-primary:hover{
    text-align: center;
    background-color: var(--orange);
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 5px 20px;
    color: var(--black);
}

.btn-secondary {
    width: 180px;
    height: 40px;
    background-color: var(--white);
    border: 1px solid var(--green);
    border-radius: 3px;
    padding: 5px 20px;
    color: var(--green);
}
.btn-secondary:hover{
    text-align: center;
    background-color: var(--orange);
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 5px 20px;
    color: var(--black);
}


body {
    margin: auto;
    padding: 10px;
    max-width: 500px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.legend-bold {
    font-weight: bold;
    font-size: 1em;
}

.label1 {
    display: inline-block;
    
    clear: left;
    width: 120px;
}

#input1 {
    display: inline-block;
    width: 200px;
}


